:root{
    --pale-red : #F5B7B1; 
    --pale-orange :  #FAD7A0; 
    --pale-green :  #A2D9CE; 
    --pale-blue :  #AED6F1; 
    --pale-purple :  #D7BDE2; 
    --pale-gray :  #CCD1D1; 

    --supporting-color : #283747; 
}

.header {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.subheader {
    font-size : 1.5rem; 
    padding-bottom: 2rem;
    text-align : center; 
    color : var(--supporting-color); 
    opacity : 0.7; 
}

.hdr1 {
    font-size : 1.5rem; 
    padding-top : 1rem;
    padding-bottom: 1rem;
    text-align : center; 
}

.hdr2{
    font-size : 1rem;
    text-align: center;
}

.content {
    font-size : 1rem; 
    text-align : center; 
}

.result {
    color : red; 
}

.center {
    margin: auto;
    padding: 10px;
    display : flex; 
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}

.intable {
    position: relative;
    border-style: solid;
    border-color: gray;
    border-width : 1px;
    padding: 10px;
    width: 400px;
    height: auto;
}
.intable>div{
    position: relative;
    padding : 5px; 
    width: auto;
    height : 20px; 
}
.intable>div>input{
    position: absolute;
    left : 100px; 
}
.intable>div>select{
    position: absolute;
    left : 100px; 
}
.intable>div>span{
    position: absolute;
    left:290px; 
}
.intable>div>button{
    position:absolute; 
    right : 20px; 
}

.delete {
    background-color: var(--pale-red); /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}