<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/public/index.css">
  </head>
  <body>
    <div class ="header"><%= title %></div>
    <div class ="subheader">
        Welcome to <%= title %> <br/>
        you can 'insert', 'delete', 'search' data of (customer, transaction, product)<br/>
        try it! <br/>
    </div>
    <hr> 
    
    <div class = hdr1>
      <a href="/insert">
        go to insert page
      </a>
    </div>
    
    </div>
  </body>
</html>