<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/public/index.css">
  </head>
  <body>
    <div class ="header"><%= title %></div>
    <div class ="subheader">
        Welcome to <%= title %> <br/>
        you can 'insert', 'delete', 'search' data of (customer, transaction, product)<br/>
        try it! <br/>
    </div>
    <hr> 
    
    <div class="center">
    <div class = hdr1>
      <a href="/insert">
        >> go to insert page
      </a>
    </div>

    <div class = hdr1>
      <a href="/search">
        >> go to search page
      </a>
    </div>

    <div class = hdr1>
      <a href="/more">
        >> go to more specific search
      </a>
    </div>

    <br/>
    <br/>
    <br/>
    <form action = "/delete" method = "post">
        <button class="delete" type="submit">delete all data</button>
    </form>
    <p class="result">
    <%= delResult %> 
    </p>
    
    </div>
  </body>
</html>